@import url('https://fonts.cdnfonts.com/css/motiva-sans');

body {
    margin: 0;
    height: 100vh;
    overflow: hidden;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Motiva Sans', sans-serif;
}

#start-button {
    z-index: 1;
    fill: lightgrey;
    cursor: pointer;
    width: 150px;
}

#button-group {
    position: absolute;
    background-color: #e5dfc4;
    top: 20px;
    left: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    display: none;
    z-index: 1;
    border-radius: 8px;
    border: solid 1px black;
}

#play-button {
    margin-bottom: 5px;
    position: relative;
    width: 50px;
    z-index: 1;
    fill: black;
    cursor: pointer;

    &:hover {
        fill: #e5dfc4;
    }
}

#mute-button {
    margin-top: 5px;
    position: relative;
    width: 35px;
    z-index: 1;
    fill: black;
    cursor: pointer;

    &:hover {
        fill: #e5dfc4;
    }
}

#restart-button {
    margin-top: 5px;
    margin-bottom: 5px;
    position: relative;
    width: 35px;
    z-index: 1;
    cursor: pointer;
}

canvas {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 0;
    filter: blur(5px);

}

#gaben {
    position: fixed;
    z-index: 1;
    height: 60vh;
    width: auto;
    left: 50%;
    transform: translateX(-50%);
    filter: blur(0.75px);
}

#gaben.show {
    transition: bottom 15s ease;
    bottom: 0px;
}

#gaben.hidden {
    bottom: -100% !important;
}

#rain-container {
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.discount {
    color: #BEEE11;
    background-color: #4c6b22;
    animation-name: "falling-image";
    animation-timing-function: "linear";
    animation-iteration-count: 1;
    width: auto;
    text-align: center;
    top: -50px;
    padding: 3px;
    font-weight: 500;
    white-space: nowrap;
    filter: blur(0.75px);
    width: auto;
}

@keyframes falling-image {
    0% {
        transform: translateY(0);
    }

    100% {
        transform: translateY(110dvh);
    }
}